[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=5
StartLimitIntervalSec=10
User=pi
ExecStart=/home/pi/go/callerid/callerid

[Install]
WantedBy=default.target
